version: '3.9'
services:
  srv:
    # container_name: srv
    restart: always
    build: .
    networks:
      - app_network
    environment:
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - MONGO_URI=${MONGO_URI}
      - MONGO_SECRET=${MONGO_SECRET}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}

  redis:
    container_name: redis
    image: redis
    networks:
      - app_network

  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - 80:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
