name: Deployment

on:
  push:
    tags:
    - v*

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: josephakayesi/lesscontactssrv:latest
        
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files    
        uses: actions/checkout@v2

      - name: Get tag name
        uses: olegtarasov/get-tag@v2.1

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
         token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: SSH into droplet
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.DIGITALOCEAN_HOST }}
          USERNAME: ${{ secrets.DIGITALOCEAN_USERNAME }}
          SCRIPT: |
            hostname=$(curl http://169.254.169.254/metadata/v1/hostname)
            docker compose up --scale srv=2 -d --force-recreate 
          
